body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  width: 75rem;
  margin: 0px auto;
}

.header {
  padding: 20px 5%;
  text-align: center;
  background-color: #cec0b3;
}

h4 {
  text-transform: capitalize;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  color: #414040;
}

.col-5 a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #414040;
  position: relative;
  top: 10px;
  left: -60px;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.col-5 a:hover {
  color: #725757;
  cursor: pointer;
  text-decoration: underline;
}

#searchbar {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  padding: 2px;
  color: #333232;
}

#searchbutton {
  border-radius: 4px;
  padding: 0px;
  padding: 1px 3px;
  background-color: #414040;
  color: #eeeeee;
}

.icon {
  padding: 15px;
  font-size: 20px;
}

.icon .fa-shopping-cart {
  padding-right: 15px;
}

.section1 {
  display: block;
  text-align: center;
  color: #414040;
  padding-top: 300px;
  padding-bottom: 50px;
  background-image: url(../images/Skincare8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section1 h1 {
  font-size: 46px;
  font-weight: bold;
  position: relative;
  top: -200px;
  color: #312d2d;
}

.section1 h3 {
  font-size: 26px;
  position: relative;
  top: -200px;
  color: #414040;
}

.shop {
  margin-top: 70px;
  background-color: #cec0b3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #414040;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -200px;
  transition: all 200ms ease-in-out;
}

.shop:hover {
  background-color: #dad8d8;
  cursor: pointer;
}

.section2 {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: #414040;
}

.section2 strong {
  display: block;
  text-align: center;
  position: relative;
  bottom: -10px;
  color: #414040;
}

.section2 hr {
  width: 500px;
  margin: 0 auto;
}

.section2 p {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: #414040;
}

.section3 {
  width: 40rem;
  display: flex;
}

.section3 .body {
  margin-top: 50px;
  padding: 150px 130px 150px 100px;
  background-color: #cec0b3;
}

.section3 h5 {
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  bottom: 20px;
  color: #292828;
}

.section3 h1 {
  font-size: 60px;
  margin: 0px auto;
  color: #292828;
}

.section3 p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 400px;
  margin-top: 20px;
  color: #292828;
}

.section3 button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  background-color: #24201c;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.section3 button:hover {
  background-color: #414040;
  cursor: pointer;
}

.section3 img {
  position: relative;
  right: 110px;
  top: 160px;
}

.section4 {
  width: 45rem;
  display: flex;
}

.section4 .body {
  display: block;
  margin-top: 50px;
  padding: 150px 160px 150px 100px;
  background-color: #ebeae8;
  position: relative;
  bottom: 50px;
  left: 540px;
}

.section4 h5 {
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  bottom: 20px;
  position: relative;
  left: 160px;
  color: #292828;
}

.section4 h1 {
  font-size: 60px;
  margin: 0px auto;
  position: relative;
  left: 160px;
  color: #292828;
}

.section4 p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 400px;
  margin-top: 20px;
  position: relative;
  left: 160px;
  color: #292828;
}

.section4 button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  background-color: #24201c;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 160px;
}

.section4 button:hover {
  background-color: #414040;
  cursor: pointer;
}

.section4 img {
  position: relative;
  left: -600px;
  top: 110px;
}

.section5 {
  width: 75rem;
  margin: 0px auto;
  background-color: #3b3a3a;
  padding: 50px;
  position: relative;
  bottom: 50px;
}

.section5 h3 {
  font-size: 34px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.section5 h4 {
  font-size: 24px;
  margin: 20px auto;
  text-align: center;
  color: white;
}

.section5 hr {
  width: 220px;
  color: white;
  margin: 0 auto;
}

.section5 p {
  font-size: 14px;
  margin: 20px auto;
  text-align: center;
  color: white;
  width: 220px;
}

.section6 {
  width: 75rem;
  position: relative;
  bottom: 50px;
  opacity: 0.4;
  padding-top: 300px;
  padding-bottom: 50px;
  background-image: url(../images/Skincare6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section7 {
  text-align: center;
  color: #414040;
  position: relative;
  bottom: 340px;
}

.section7 h3 {
  font-size: 60px;
  margin: 0px auto;
  color: #292828;
}

.section7 p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 400px;
  text-align: center;
  margin: 0px auto;
  color: #292828;
}

.section7 button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  background-color: #24201c;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.section7 button:hover {
  background-color: #414040;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #414040;
  position: relative;
  bottom: 195px;
}
